.btn-back {
	display: inline-block;
	float: right;
}
.search-box {
	margin: 30px 0 30px 0	;
}

.avatar-list {
	display: none;
}

@media only screen and (max-width : 800px) {
	.avatar-list {
		display: block;
	}
}