<div class="row">
	<div class="col-md-12">
		<h1>Flickr Public Feed.</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="search-box">
			<input type="text" placeholder="Search by tag" class="form-control" ng-model="items.tags">
		</div>
	</div>
</div>
<div class="row" ng-controller="ListController">
	<div class="col-md-12">
		<div class="media" ng-repeat="item in items | filter: items.tags">
			<div class="media-left">
			<a ui-sref="detail({id: $index + 1})">
				<img class="media-object" ng-src="{{ item.media.m }}" alt="{{ item.title }}" title="{{ item.title }}" class="img-responsive">
			</a>
			</div>
			<div class="media-body">
				<h3 class="media-heading"><a ui-sref="detail({id: $index + 1})">{{ item.title }}</a></h3>
				<a href="{{ author_url(item.author_id) }}" target="_blank"><img ng-src="{{ avatar(item.author_id) }}" class="avatar-list"></a>
				<p><a href="{{ author_url(item.author_id) }}" target="_blank">{{ item.author }}</a>   |  Published: {{ item.published | date: "d MMM 'at' h:mm a" }}  | <a href="{{ item.link }}" target="_blank">View on Flickr</a></p>
				</div>
		</div>				
	</div>
</div>